@import '~@fluentui/react/dist/sass/References.scss';

.nintexTaskDelegationDashboard {
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    color: #666;
  }
}